src/flows.json
[
    {
        "id": "4a1d43f4.ff073c",
        "type": "tab",
        "label": "PRESTON Viz",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3846208e.4e493",
        "type": "template",
        "z": "4a1d43f4.ff073c",
        "name": "Create the msg.template to use",
        "field": "template",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<canvas id=\"bubble-chart\" width=\"1\" height=\"1\"></canvas>\n\n<script>\nnew Chart(document.getElementById(\"bubble-chart\"), {\n    type: 'bubble',\n    data: {\n      labels: \"label\",\n      datasets: [\n        {\n          label: \"{{{payload.legend1}}}\",\n          backgroundColor: \"rgba(255, 255, 255, 0.3000)\",\n          borderColor: \"rgba(255,255,255,0.3000)\",\n          data: [\n            {{{payload.data1}}}\n          ]\n        },\n        {\n          label: \"{{{payload.legend2}}}\",\n          backgroundColor: \"rgba(255, 0, 0, 0.3000)\",\n          borderColor: \"rgba(255,0,0,0.3000)\",\n          data: [\n            {{{payload.data2}}}\n          ]\n        }\n      ]\n    },\n    options: {\n        animation: false,\n        legend: {\n            display: true,\n            labels: {\n                fontColor: 'rgb(255, 255, 255)'\n            }\n        },\n    title: {\n        display: true,\n        text: '{{{payload.title}}}',\n        fontColor: 'rgb(255, 255, 255)'\n      }, scales: {\n        yAxes: [{ \n            ticks: {\n                min: -1000, // minimum value\n                max: 1000 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"Y [in]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }],\n        xAxes: [{ \n            ticks: {\n                min: -1000, // minimum value\n                max: 1000 // maximum value\n            },\n          scaleLabel: {\n            display: true,\n            labelString: \"X [in]\",\n            fontColor: 'rgb(255, 255, 255)'\n          }\n        }]\n      }\n    }\n});\n\n</script>\n",
        "output": "str",
        "x": 870,
        "y": 260,
        "wires": [
            [
                "11b0ec5.6409c14"
            ]
        ]
    },
    {
        "id": "11b0ec5.6409c14",
        "type": "ui_template",
        "z": "4a1d43f4.ff073c",
        "group": "bfbd69a3.7f8268",
        "name": "LIDAR Plot",
        "order": 2,
        "width": 10,
        "height": 10,
        "format": "",
        "storeOutMessages": false,
        "fwdInMessages": true,
        "resendOnRefresh": false,
        "templateScope": "local",
        "className": "",
        "x": 1150,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "60e09bd7.202a54",
        "type": "udp in",
        "z": "4a1d43f4.ff073c",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3555",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 60,
        "y": 260,
        "wires": [
            [
                "ccf9628f076d9e45"
            ]
        ]
    },
    {
        "id": "9125df13.c99f4",
        "type": "function",
        "z": "4a1d43f4.ff073c",
        "name": "Build chart payload",
        "func": "var title = \"LIDAR Data\";\nvar legend1 = \"Scan Data\";\nvar legend2 = \"Obstacle Window\";\n\n// frame = '{x: 0.5, y: -0.25, r: 5},\\\n// {x: 0.5, y: 0.25, r: 5},\\\n// {x: -0.1, y: 0.25, r: 5},\\\n// {x: -0.1, y: -0.25, r: 5},\\\n// {x: 0.2, y: -0.25, r: 5},\\\n// {x: 0.2, y: 0.25, r: 5},\\\n// {x: 0.5, y: 0.0, r: 5},\\\n// {x: -0.1, y: 0.0, r: 5},\\\n// {x: 0.05, y: 0.25, r: 5},\\\n// {x: 0.05, y: -0.25, r: 5},\\\n// {x: 0.35, y: 0.25, r: 5},\\\n// {x: 0.35, y: -0.25, r: 5},'\n\nmsg.payload = { \"title\"   : title,\n                \"legend1\" : legend1,\n                \"legend2\" : legend2,\n                \"data1\"   : msg.payload.lidarData,\n                \"data2\"   : msg.payload.window\n}\n                \nreturn msg;\n\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 260,
        "wires": [
            [
                "3846208e.4e493"
            ]
        ]
    },
    {
        "id": "1da24f82.6b2d",
        "type": "udp out",
        "z": "4a1d43f4.ff073c",
        "name": "SCUTTLE",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "3553",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 970,
        "y": 460,
        "wires": []
    },
    {
        "id": "1c3cbe79.a74dc2",
        "type": "json",
        "z": "4a1d43f4.ff073c",
        "name": "",
        "property": "payload",
        "action": "str",
        "pretty": true,
        "x": 790,
        "y": 460,
        "wires": [
            [
                "1da24f82.6b2d"
            ]
        ]
    },
    {
        "id": "4eccc3ae.acdc0c",
        "type": "function",
        "z": "4a1d43f4.ff073c",
        "name": "selector",
        "func": "msg.topic = \"one_joystick\"\nmsg.payload = msg.payload.vector\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 460,
        "wires": [
            [
                "76cb7248.ff826c"
            ]
        ]
    },
    {
        "id": "76cb7248.ff826c",
        "type": "join",
        "z": "4a1d43f4.ff073c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 630,
        "y": 460,
        "wires": [
            [
                "1c3cbe79.a74dc2"
            ]
        ]
    },
    {
        "id": "d0abcfd1.88188",
        "type": "ui_joystick",
        "z": "4a1d43f4.ff073c",
        "d": true,
        "name": "Joystick",
        "group": "bfbd69a3.7f8268",
        "order": 22,
        "width": "12",
        "height": "2",
        "trigger": "all",
        "timeInterval": "50",
        "useThemeColor": false,
        "color": "#f10404",
        "threshold": "0.1",
        "directions": "all",
        "shape": "circle",
        "centerAtRelease": true,
        "x": 230,
        "y": 460,
        "wires": [
            [
                "4eccc3ae.acdc0c"
            ]
        ]
    },
    {
        "id": "162b32c6f8af1f3d",
        "type": "ui_gauge",
        "z": "4a1d43f4.ff073c",
        "name": "",
        "group": "7da97a49f52c3c35",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Left",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "359",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 320,
        "wires": []
    },
    {
        "id": "69235d104d8870ec",
        "type": "ui_gauge",
        "z": "4a1d43f4.ff073c",
        "name": "",
        "group": "7da97a49f52c3c35",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "Right",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "359",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 830,
        "y": 380,
        "wires": []
    },
    {
        "id": "04a73111cc6b0550",
        "type": "udp in",
        "z": "4a1d43f4.ff073c",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3556",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 300,
        "y": 320,
        "wires": [
            [
                "162b32c6f8af1f3d"
            ]
        ]
    },
    {
        "id": "600eef4efdba4c45",
        "type": "udp in",
        "z": "4a1d43f4.ff073c",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3557",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 300,
        "y": 380,
        "wires": [
            [
                "69235d104d8870ec"
            ]
        ]
    },
    {
        "id": "49ddacd19dd9e8f2",
        "type": "udp in",
        "z": "4a1d43f4.ff073c",
        "name": "SCUTTLE",
        "iface": "",
        "port": "3558",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 60,
        "y": 180,
        "wires": [
            [
                "9537e4070de0e2e3"
            ]
        ]
    },
    {
        "id": "9700d1166406a4c9",
        "type": "join",
        "z": "4a1d43f4.ff073c",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": true,
        "accumulate": true,
        "timeout": "",
        "count": "1",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 390,
        "y": 260,
        "wires": [
            [
                "9125df13.c99f4"
            ]
        ]
    },
    {
        "id": "ccf9628f076d9e45",
        "type": "function",
        "z": "4a1d43f4.ff073c",
        "name": "selector",
        "func": "msg.topic = \"lidarData\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 260,
        "wires": [
            [
                "9700d1166406a4c9"
            ]
        ]
    },
    {
        "id": "9537e4070de0e2e3",
        "type": "function",
        "z": "4a1d43f4.ff073c",
        "name": "selector",
        "func": "msg.topic = \"window\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 220,
        "y": 180,
        "wires": [
            [
                "9700d1166406a4c9",
                "fa6e194dbcf50258"
            ]
        ]
    },
    {
        "id": "fa6e194dbcf50258",
        "type": "debug",
        "z": "4a1d43f4.ff073c",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 180,
        "wires": []
    },
    {
        "id": "bfbd69a3.7f8268",
        "type": "ui_group",
        "name": "LIDAR Plot",
        "tab": "5fb49e.81278b64",
        "order": 1,
        "disp": false,
        "width": "12",
        "collapse": false
    },
    {
        "id": "7da97a49f52c3c35",
        "type": "ui_group",
        "name": "Encoders",
        "tab": "5fb49e.81278b64",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": true,
        "className": ""
    },
    {
        "id": "5fb49e.81278b64",
        "type": "ui_tab",
        "name": "PRESTON Viz",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]